$white: #FFFFFF;
$mine-shaft: #333333;
$alice-blue: #F8FAFC;
$deep-sky-blue: #00BFFF;
$deep-sky-blue-06: rgba(0, 191, 255, 0.6);
$dusty-gray-01: rgba(151, 151, 151, 0.1);
$light-sky-blue: #87CEFA;
$silver: #CCCCCC;
$black-01: rgba(0, 0, 0, 0.1);
$crimson: #DC143C;
$crimson-06: rgba(220, 20, 60, 0.6)
