@import 'variables';
@import './fonts';

.pb-common-btn,
.pb-danger-btn {
  height: 44px;
  width: 100%;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: $neucha;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pb-common-btn {
  background-color: $deep-sky-blue-06;
  color: $white;

  &:hover {
    background-color: $deep-sky-blue;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $deep-sky-blue-06;
    cursor: default;
    opacity: 0.5;
  }
}

.pb-danger-btn {
  background-color: $crimson-06;
  color: $white;

  &:hover {
    background-color: $crimson;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: $crimson-06;
    cursor: default;
    opacity: 0.5;
  }
}

button {
  &.loading {
    color: transparent;
    position: relative;
    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 26px;
        height: 26px;
        margin-left: -13px;
        margin-top: -15px;
        top: 50%;
        left: 50%;
        animation: spinner-rotate 750ms linear infinite;
        transform-origin: center;
        border-left: 2px solid $white;
        border-right: 2px solid $white;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-radius: 50%;
    }
  }
}

@keyframes spinner-rotate {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(90deg);}
  50%  {transform: rotate(180deg);}
  75%  {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
