@import 'variables';

@import './inputs';
@import './buttons';
@import './links';
@import './fonts';

html,
body {
  height: 100%;
  margin: 0;
  font-family: $neucha;
}

body {
  background-color: $alice-blue;
}

div {
  outline: none;
}
