<div class="add-post">
  <form [formGroup]="addPostForm" (ngSubmit)="submit()">
    <div class="title-container">
      <label for="title">Title</label>
      <input
        type="text"
        class="pb-common-input add-post-input"
        formControlName="title"
        id="title"
        required
      >
    </div>
    <div class="description-container">
      <label for="description">Description</label>
      <textarea
        class="pb-common-input add-post-area"
        formControlName="description"
        id="description"
        required
      ></textarea>
    </div>
    <button
      class="pb-common-btn"
      [class.loading]="loading"
      [disabled]="loading || !addPostForm.valid"
    >
      {{ postId ? 'Edit' : 'Add'}} Post
    </button>
  </form>
  <button class="pb-danger-btn" [routerLink]="[postId ? '/posts/' + postId : '/posts']">Cancel</button>
</div>
